<section class="error">
  <div class="error__content">
    <img class="error__image" src="{{'404error.svg' | asset_url }}" alt="Page is not found" />
    <p class="error__text">Looks like you’re in uncharted territory…</p>
    <h2 class="error__title">404</h2>
  </div>
</section>