<div class="country_list">
	<div class="country_list-header">
		<div class="row">
			<ul>
				<li data-rel="europe" class="is-active"><span class="current-area">europe</span></li>
				<li data-rel="northamerica"><span class="current-area">north america</span></li>
				<li data-rel="southamerica"><span class="current-area">south america</span></li>
				<li data-rel="africa"><span class="current-area">africa</span></li>
				<li data-rel="asia"><span class="current-area">asia</span></li>
				<li data-rel="oceania"><span class="current-area">oceania</span></li>
			</ul>
		</div>
	</div>

	<div class="country_list-body">
		<div class="row">
			<ul class="area-europe"></ul>
			<ul class="area-northamerica"></ul>
			<ul class="area-southamerica"></ul>
			<ul class="area-africa"></ul>
			<ul class="area-asia"></ul>
			<ul class="area-oceania"></ul>
		</div>
	</div>
</div>