{% layout 'customer' %}

<div class="account--page">
    <h3 class="head-text">Hi {{ customer.name }},</h3>

    {% section 'account_sidebar' %}

    <div id="customer_orders" class="account--page_right">
        <div id="add_address" class="customer_address edit_address">
            <form method="put" id="change_password" action="https://2c9ee8440fc90efa56f24612d412aebe:9cc6e2f72a5a6e91b37b74bb16f1cffa@{{ shop.url | remove: 'https://' }}/admin/customers/{{customer.id}}.json" accept-charset="UTF-8">
                <input type="hidden" id="customer_id" value="{{customer.id}}" />

                <h4 id="add_address_title">Change Account Password</h4>
                <table class="customer_address_table">
                    <tr>
                        <td class="label"><label for="address_first_name_new">New Password</label></td>
                        <td class="value"><input placeholder="New Password" type="password"  id="customer_password" class="large" size="30" value="" /></td>
                    </tr>
                    <tr>
                        <td class="label"><label for="address_last_name_new">Confirm Password</label></td>
                        <td class="value"><input placeholder="Confirm Password" type="password"  id="customer_confirm_password" class="large" size="30" value="" /></td>
                    </tr>
                </table>
                <div class="action_bottom">
                    <a class="button" id="btn_change_password">Change</a>
                </div>
            </form>
        </div>
    </div>
</div>