{% section 'home-slider' %}

{% section 'products-list' %}

{% comment %}MAPS{% endcomment %}
<section class="maps maps--home">
    
    {% section 'map-map' %}

    {% section 'map-products' %}

    {% section 'map-product' %}

</section>
{% section 'modal_login' %}
{% section 'load_maps' %}
{% comment %}END MAPS{% endcomment %}

{% section 'newsletter' %}

{% section 'gift-card' %}

{% section 'instagram' %}




