<section class="maps">
    
    {% section 'map-sidebar' %}

    <div class="map-contents-area">
	    {% section 'map-map' %}

	    {% section 'map-products' %}

	    {% section 'map-product' %}
	</div>

</section>

{% section 'modal_login' %}

{% section 'load_maps' %}