<section class="text-page">
  <div class="text-page__content">
    <h1 class="text-page__title">{{page.title}}</h1>
    <p class="text-page__text">
      {{ page.content }}
    </p>
  </div>
</section>