<div class="country_list">
	<div class="country_list-header">
		<div class="row">
			<ul>
				<li data-rel="europe">europe</li>
				<li data-rel="northamerica">north america</li>
				<li data-rel="southamerica">south america</li>
				<li data-rel="africa">africa</li>
				<li data-rel="asia">asia</li>
				<li data-rel="oceania">oceania</li>
			</ul>
		</div>
	</div>

	<div class="country_list-body">
		<div class="row">
			<ul class="area-europe"></ul>
			<ul class="area-northamerica"></ul>
			<ul class="area-southamerica"></ul>
			<ul class="area-africa"></ul>
			<ul class="area-asia"></ul>
			<ul class="area-oceania"></ul>
		</div>
	</div>
</div>