<div id="selected-product">
    <div class="maps__step_header">
        <h5>3. finalize your product</h5>
    </div>

    <div id="product-view-panel" class="product">
      <div class="loading"></div>
    </div>
</div>